{% extends 'admin/base.html' %}

{% block title %}
Admin Area 
{% endblock  %}

{% block content %}
  

  <header id="main-header" class="py-2 bg-primary text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1><i class="fa fa-gear"></i> Dashboard</h1>
        </div>
      </div>
    </div>
  </header>

  <!-- ACTIONS -->
  <section id="action" class="py-4 mb-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <a href="{{url_for('author.add_post')}}" class="btn btn-primary btn-block">
            <i class="fa fa-plus"></i> Add Post
          </a>
        </div>
       {% if current_user.id == 1 %}
       <div class="col-md-3">
         <a href="#" class="btn btn-warning btn-block" data-toggle="modal" data-target="#addUserModal">
           <i class="fa fa-plus"></i> Add To Portfolio
         </a>
       </div>
       <div class="col-md-3">
         <a href="#" class="btn btn-success btn-block" data-toggle="modal" data-target="#addService">
           <i class="fa fa-plus"></i> Add Service
         </a>
       </div>
         
       {% endif %}
      </div>
    </div>
  </section>

  <!-- POSTS -->
  <section id="posts">
    <div class="container">
      <div class="row">
        <div class="col-md-9 sm-mb-3">
          <div class="card">
            <div class="card-header">
              <h4>Latest Messages</h4>
            </div>
            <table class="table table-striped">
              <thead class="thead-inverse">
                <tr>
                  <th>#</th>
                  <th>Contact Name</th>
                  <th>Email</th>
                  <th>Date Posted</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for message in messages %}
                <tr>
                  <td scope="row">{{message.id}}</td>
                  <td>{{message.name}}</td>
                  <td>{{message.email}}</td>
                  <td>{{message.date.strftime("%B %d, %Y ")}}</td>
                  <td>
                    {% if current_user.id ==1 %}
                    <a href="{{url_for('author.message', message_id=message.id) }}" class="btn btn-secondary">
                    <i class="fa fa-angle-double-right"></i> Read Message
                  </a> 
                    <button class="btn-link btn-outline-danger text-danger ml-2" data-toggle="modal" data-target="#my">
                    <i class="fa fa-trash fa-2x "></i>
                    </button>
                    {% endif %}
                   </td>
                    
                    </tr>
                                       <!-- Modal -->
    <div class="modal fade" id="my" tabindex="-1" role="dialog" aria-labelledby="my" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="my">Delete </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          Delete this Message
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <form action="{{url_for('author.delete_msg', message_id=message.id)}}" method="POST">
              <input type="submit" class="btn btn-danger" value="Delete" >
            </form>
          </div>
        </div>
      </div>
    </div>
                    {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card text-center bg-primary text-white mb-3">
            <div class="card-body">
              <h3>Posts</h3>
              <h1 class="display-4">
                <i class="fa fa-pencil"></i> {{blogs | length}}
              </h1>
              <a href="{{url_for('author.posts')}}" class="btn btn-outline-light btn-sm">View</a>
            </div>
          </div>

          <div class="card text-center bg-success text-white mb-3">
            <div class="card-body">
              <h3>Categories</h3>
              <h1 class="display-4">
                <i class="fa fa-folder-open-o"></i> {{categories | length}}
              </h1>
              <a href="{{url_for('author.categories')}}" class="btn btn-outline-light btn-sm">View</a>
            </div>
          </div>

          <div class="card text-center bg-warning text-white mb-3">
            <div class="card-body">
              <h3>Users</h3>
              <h1 class="display-4">
                <i class="fa fa-users"></i> {{users| length}}
              </h1>
              <a href="{{url_for('author.users')}}" class="btn btn-outline-light btn-sm">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


 
  <!-- Portfolio MODAL -->
  <div class="modal fade" id="addUserModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-warning text-white">
          <h5 class="modal-title">Add To Portfolio</h5>
          <button class="close" data-dismiss="modal"><span>&times;</span></button>
        </div>
        <div class="modal-body">
          <form action="{{url_for('author.admin')}}" method="POST" enctype="multipart/form-data">
            {{form.hidden_tag()}}
            <div class="form-group">
              <label for="name">Title</label>
              {{form.title(class="form-control")}}
            </div>
            <div class="form-group">
              <label for="email">Small Tag</label>
              {{form.small(class="form-control")}}
            </div>
            <div class="form-group">
              <label for="name">Picture</label>
              {{form.pic(class="form-control-file")}}
            </div>
            <div class="form-group">
              <label for="name">Description</label>
              {{form.description(class="form-control")}}
            </div>
            <div class="form-group">
              <label for="name">Link</label>
              {{form.link(class="form-control")}}
            </div>
            <small class="text-muted" > has to have http:</small>
           <button class="btn btn-warning" type="submit" >Add</button>
          </form>
          
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>
  <!-- Service Modal -->
  <div class="modal fade" id="addService">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-success text-white">
          <h5 class="modal-title">Add Service</h5>
          <button class="close" data-dismiss="modal"><span>&times;</span></button>
        </div>
        <div class="modal-body">
          <form action="{{url_for('author.admin')}}" method="POST" >
            {{serve_form.hidden_tag()}}
            <div class="form-group">
              <label for="title">Title</label>
              {{serve_form.title(class="form-control")}}
            </div>
            <div class="form-group">
              <label for="icon">Font Awesome Icon</label>
              {{serve_form.icon(class="form-control")}}
            </div>
            <div class="form-group">
              <label for="name"> Heading</label>
              {{serve_form.heading(class="form-control-file")}}
            </div>
            <div class="form-group">
              <label for="name">Description</label>
              {{serve_form.description(class="form-control")}}
            </div>
           <button class="btn btn-warning" type="submit" >Add</button>
          </form>
          
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>
  {% endblock  %}