{% extends 'security/base.html' %}
{% block title %} Forgot Password{% endblock  %}

{% block content %}
  

<!-- ACTIONS -->
<section id="action" class="py-4 mb-4 bg-light">
  <div class="container">
    <div class="row">

    </div>
  </div>
</section>

  <!-- LOGIN -->
  <section id="login">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header">
              <h4>Reset Password</h4>
            </div>
            <div class="card-body">
{% from "security/_macros.html" import render_field_with_errors, render_field %}
<form action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">
  {{ forgot_password_form.hidden_tag() }}
  {{ render_field_with_errors(forgot_password_form.email, class='form-control') }} 
  {{ render_field(forgot_password_form.submit, class="btn btn-primary btn-block") }}
</form>
 <a class="text-primary" href="{{url_for('security.login')}}"> <small>login instead?</small> </a>  

</div>
</div>
</div>
</div>
</div>
</section>

{% endblock  %}